# 7. SATIM Energy Technology Input Data

In [2]:
import pandas as pd
from IPython.display import Markdown, display

# Load the Excel file
excel_file = 'Power sector table.xlsx'

# Load the specified sheet
sheet_name = 'Sheet1'
data_range = 'C6:R33'

# Read data from Excel
df = pd.read_excel(excel_file, sheet_name=sheet_name, header=None, usecols="C:R", skiprows=5, nrows=27)

#for merged cells aka multi-index: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html
# Assign column names
df.columns = ['Technology', 'Installed Capacity (GW) - 2020', 'Installed Capacity (GW) - 2021', 
              'Installed Capacity (GW) - 2022', 'Source', 'Efficiency (%)', 'Source', 'Variable Cost (R/GJ)',
              'Variable Cost (R/kW)','Source', 'Fixed Cost (%) - 2020','Fixed Cost (%) - 2025',
              'Source', 'Annual Availability (%) - 2030', 'Annual Availability (%) - 2035','Source']

# Set 'C' column as the index
df.set_index('Technology', inplace=True)

# Drop columns titled 'Source'
df = df.drop(columns=['Source'])

# Define the clickable source link
source_link_text = '[PCC (2022). South Africa’s Just Energy Transition Investment Plan 2023-2027.]'
source_link_url = 'https://pccommissionflo.imgix.net/uploads/images/South-Africas-Just-Energy-Transition-Investment-Plan-JET-IP-2023-2027-FINAL.pdf'

# Remove empty rows
#df = df.dropna()

# Define CSS styles for the table
table_styles = [
    dict(selector="th", props=[("font-size", "14px"), ("text-align", "left"), ("background-color", "#f2f2f2"), ("padding", "8px")]),
    dict(selector="td", props=[("font-size", "14px"), ("text-align", "left"), ("padding", "8px")]),
    dict(selector="tr:hover", props=[("background-color", "#f5f5f5")]),
]

# Apply CSS styles to the HTML table
styled_table = df.style.set_table_styles(table_styles)

# Define table header
table_header = "### Table 1: Characteristics of Existing Electricity Generation Plants in SATIM\n #### All Rand values are in April 2023 Rands." #Table Header (Markdown format)

# Define caption with clickable source link
table_caption = f"\n\n**Data Source:** {source_link_text} - [Click me]({source_link_url})"

# Display table header
display(Markdown(table_header))

# Display the styled table with the caption
display(styled_table)

# Display the table caption
display(Markdown(table_caption))

### Table 1: Characteristics of Existing Electricity Generation Plants in SATIM
 #### All Rand values are in April 2023 Rands.

**Data Source:** [PCC (2022). South Africa’s Just Energy Transition Investment Plan 2023-2027.] - [Click me](https://pccommissionflo.imgix.net/uploads/images/South-Africas-Just-Energy-Transition-Investment-Plan-JET-IP-2023-2027-FINAL.pdf)

In [36]:
import pandas as pd
from IPython.display import Markdown, display

# Load the Excel file
excel_file = 'Power sector table.xlsx'

# Load the specified sheet
sheet_name = 'Sheet2'
data_range = 'C6:X25'

# Read data from Excel
df = pd.read_excel(excel_file, sheet_name=sheet_name, header=None, usecols="C:X", skiprows=5, nrows=20)

#for merged cells aka multi-index: https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html
# Assign column names
df.columns = ['Technology', 'Installed Capacity (GW) - 2020', 'Installed Capacity (GW) - 2021', 
              'Installed Capacity (GW) - 2022', 'Source', 'Efficiency (%)', 'Source', 'Variable Cost (R/GJ)',
              'Variable Cost (R/kW)','Source', 'Fixed Cost (%) - 2020','Fixed Cost (%) - 2025',
              'Source', 'Annual Availability (%) - 2030', 'Annual Availability (%) - 2035','Source',
              'Overnight Cost (R/kW) - 2020','Overnight Cost (R/kW) - 2025','Overnight Cost (R/kW) - 2030',
              'Overnight Cost (R/kW) - 2035','Overnight Cost (R/kW) - 2050', 'Source']

# Set 'C' column as the index
df.set_index('Technology', inplace=True)

# Drop columns titled 'Source'
df = df.drop(columns=['Source'])

# Define the clickable source link
source_link_text = '[PCC (2022). South Africa’s Just Energy Transition Investment Plan 2023-2027.]'
source_link_url = 'https://pccommissionflo.imgix.net/uploads/images/South-Africas-Just-Energy-Transition-Investment-Plan-JET-IP-2023-2027-FINAL.pdf'

# Remove empty rows
#df = df.dropna()

# Define CSS styles for the table
table_styles = [
    dict(selector="th", props=[("font-size", "14px"), ("text-align", "left"), ("background-color", "#f2f2f2"), ("padding", "8px")]),
    dict(selector="td", props=[("font-size", "14px"), ("text-align", "left"), ("padding", "8px")]),
    dict(selector="tr:hover", props=[("background-color", "#f5f5f5")]),
]

# Apply CSS styles to the HTML table
styled_table = df.style.set_table_styles(table_styles)

# Define table header
table_header = "### Table 2: New Capacity Options - Characteristics of Electricity Generation Plants in SATIM\n #### All Rand values are in April 2023 Rands." #Table Header (Markdown format)

# Define caption with clickable source link
table_caption = f"\n\n**Data Source:** {source_link_text} - [Click me too]({source_link_url})"

# Display table header
display(Markdown(table_header))

# Display the styled table with the caption
display(styled_table)

# Display the table caption
display(Markdown(table_caption))

### Table 2: New Capacity Options - Characteristics of Electricity Generation Plants in SATIM
 #### All Rand values are in April 2023 Rands.

**Data Source:** [PCC (2022). South Africa’s Just Energy Transition Investment Plan 2023-2027.] - [Click me too](https://pccommissionflo.imgix.net/uploads/images/South-Africas-Just-Energy-Transition-Investment-Plan-JET-IP-2023-2027-FINAL.pdf)